/* changes to general */
canvas {
    position: fixed;
    top: 20px;
    right: 20px;
}

body {
    display: flex;
    flex-direction: row;
}

/* param */
#param {
    padding: 10px;
    float: left;
    margin-right:700px
}

#global_param {
    border-bottom: 3px solid var(--accent3);
    border-top: 3px solid var(--accent3);
    margin-top: 10px;
    padding: 10px;
}

#global_param > div,
#specific_param > div > div {
    margin-top: 10px;
}

#specific_param {
    padding: 10px;
}

#specific_param > div {
    border-bottom: 3px solid var(--accent3);
    padding-bottom: 10px;
    margin-bottom: 10px;
}

#param label {
    margin-right: 10px;
}

#param input, #param select {
    width: 60px;
}
