/* default style */
select {
-ms-box-sizing:content-box;
-moz-box-sizing:content-box;
-webkit-box-sizing:content-box; 
box-sizing:content-box;   
}

/* color scheme */

:root {
    --bg: #eae7dc;
    --text1: #8e8d8a;
    --accent1: #d8c3a5;
    --accent2: white;
    --accent3: white;
}
/* main */
body {
    background-color: var(--bg) ;
    color: var(--text1);
    font-family: sans-serif
}

/* inputs and button */
fieldset {
    border: none;
}

input,
button,select {
    padding: 10px;
    border: none;
    cursor:pointer;
    border-radius: 25px
}

input, select {
    background-color: var(--accent2);
    color: var(--text);
}

button{
    background-color: var(--accent1);
    color: var(--text);
}

button:active {
    transform: scale(0.9)
}

input[type=color] {
    padding: 5px 10px;
}

*:disabled {
    background-color: black;
    opacity: 0.2;
    cursor:default;
}

/* links */
.link {
    font-size: 20px;
    width: 400px;
}

.arrow {
    margin-left: 20px;
    opacity: 0;
    position: relative;
    left: -20px;
    transition: 0.5s;
}

/* canvases */
canvas {
    background-color: white;
    border: 2px solid var(--text1);
}

/* specific to visu and 3D */
#param input, #param select {
    width: 60px;
}