#accuracy_compute_container {
    display: flex;
    flex-direction: column
}

/* account management */
#account_management {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    border-bottom: 4px solid var(--accent3);
}

#account_management > div {
    margin-bottom: 10px;
}

/* logged_in */
#logged_in {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* welcome */
#welcome {
    font-size: 20px;
    margin: 0px 30px 0px 10px;
    font-weight: bold;
}

/* recording_div */
#recording_div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#recording_div p {
        font-size: 50px;
}

#recording_div #keyword_title {
        font-size: 30px;
}

#current_keywords {
    margin: 10px 0px;
}

#recording_status {
    margin-top: 10px;
}

#record {
    width: 200px;
    height: 100px;
}

#param_keyword {
    margin-top: 20px;
}