/* responsive design */
@media only screen and (max-width: 430px) {
  /* record */
  #recording_div #recording_title {
    font-size: 20px;
  }
  
  #recording_div #keyword_title {
    font-size: 14px;
  }
  
  #record {
    width: 80%;
  }
  
  #param_keyword {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #param_keyword button {
    width: 90%
  }
  
  /* search */
  #search_form input,
  #search_form select {
    width: 90%
  }
  
  #result_container > div > div {
   margin-bottom: 10px; 
  }
  
  .visualization_selector {
    width: 0px;
  }
  /* inputs and buttons */
  input,button {
    margin-bottom: 10px;
  }
  
  /* links */
  .link {
    width: 100%;
  }
  
  .link:hover {
    font-weight: bold;
  }
  
  .arrow {
    display: none;
  }
}

@media only screen and (max-width: 300px) {
  input {
    width: 80%;
  }
}

@media only screen and (max-width: 1360px) {
  body {
    flex-direction: column;
  }
  
  #visualization_container {
    left: initial;
    right: initial;
    position: relative;
  }

  #param {
      margin-right: 10px
  }
  
  body > div:nth-child(2) > canvas{
    left: initial;
    right: initial;
    position: relative;
  }
}
