/* search button */
#search {
    font-weight : bold;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* form and its input */
form {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}

form input,form label, form select{
    margin-top:10px
}

/* link in search*/
.link {
    margin-top: 30px;
}

/* result from search */
#result_container > div {
    padding: 20px;
    margin-top: 10px;
}

#result_container > div:nth-child(even){
    background-color: var(--accent2);
}

#result_container > div:nth-child(odd){
    background-color: var(--accent1);
}

#result_container > div:first-child {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

#result_container > div:last-child {
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

#result_container > div > * {
    margin-top: 5px;
}

/*Element inside search results*/
.user {
    font-size: 20px;
    font-weight: bold;
    border-bottom: var(--text1) 2px solid;
}

.keywords {
    font-size: 14px;
    font-weight: bold;
}

#result_container label {
    margin-right: 20px;
}