/* changes to general visual style */
body {
    display: flex;
    flex-direction: row;
}

#visualization_container {
    position: fixed;
    top: 20px;
    right: 20px;
    float: right;
}

#param {
    margin-right: 950px
        
}

.div_visualization {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.label_visualization {
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* canvases */
.canvas_container {
    position : relative;
}

canvas {
    position : absolute;
}

canvas.overlay {
    z-index: 999;
    background-color: rgba(0,0,0,0);
}

/* visualization_container */

#visualization_container {
    display: flex;
    flex-direction: row;
}

#visualization_container > div {
    margin-right: 30px;
}

#visualization_container > div > div {
    margin-bottom: 15px;
}

/* param */

#global_param,
#specific_param > div {
    border-top: var(--accent3) solid 3px;
    padding: 10px 2px;
}

#specific_param div{
    margin-top: 15px;
}
#global_param > div {
    margin-top: 10px;
}

#param input[type=checkbox] {
    width: 0px;
}
#to_3D_scene {
    margin-bottom: 10px;
}